<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.hzbl360.mapper.GoodsMapper">

    <!--<select id="getDemoById" resultType="com.hzbl360.pojo.Demo" >-->
        <!--select * from demo where id = #{id}-->
    <!--</select>-->
    <resultMap id="goodsdMap" type="com.hzbl360.pojo.Goods">
        <id property="id" column="id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="goodsTotal" column="goods_total"/>
        <result property="gootsNum" column="goods_num"/>
    </resultMap>

    <!-- 添加领用物品 -->
    <insert id="insertGoods">
        insert into goods(goods_name,goods_desc,goods_total,goods_num)
        values(#{goodsName},#{goodsDesc},#{goodsTotal},#{goodsNum})
    </insert>


    <!--  办公用品详情页  -->
    <select id="getAllGoods" resultType="com.hzbl360.pojo.Goods">
        select * from goods where id > #{start}  order by id desc limit #{start},#{pageSize }

    </select>

    <!-- 返回总记录数 -->
    <select id="getCountGoods" resultType="Integer">
        select count(*) from goods
    </select>

    <!-- 办公用品数量(应该不限定为单一字段)修改-->
    <update id="updateGoods" >
        update goods
         <set>
             <if test="goodsName != null and goodsName != '' ">
                 goods_name = #{goodsName},
             </if>
             <if test="goodsDesc != null and goodsDesc !='' ">
                 goods_desc = #{goodsDesc},
             </if>
             <if test="goodsNum != null">
                  goods_num = #{goodsNum},
             </if>
             <if test="goodsTotal != null">
                 goods_total = #{goodsTotal},
             </if>
             id = #{id},
         </set>
        where id = #{id}
    </update>

    <!--  更新物品表 物品id和 领用数量 -->
    <update id="updateGoodsNum">
        update  goods set goods_num = goods_num - #{recordNum} where id = #{id}
    </update>
</mapper>